In [1]:
import pandas as pd
import numpy as np
import geopandas
import geopy
import geocoder
from geopy.geocoders import Nominatim
from datetime import datetime as dt

## Reading CSV's of the daily obtained csv from hourly data.( Datasets available at drive link)

In [2]:
df = pd.read_csv("DATA (22 SEP - 21 OCT).csv",index_col = 0)
print(df.shape)

(64718, 26)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64718 entries, 0 to 64717
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Station    64718 non-null  object
 1   Date_time  64718 non-null  object
 2   City       64718 non-null  object
 3   State      64718 non-null  object
 4   PM10_min   53814 non-null  float64
 5   PM10_max   53814 non-null  float64
 6   PM10_avg   53814 non-null  float64
 7   PM2.5_min  58287 non-null  float64
 8   PM2.5_max  58287 non-null  float64
 9   PM2.5_avg  58287 non-null  float64
 10  NO2_min    58688 non-null  float64
 11  NO2_max    58688 non-null  float64
 12  NO2_avg    58688 non-null  float64
 13  NH3_min    48498 non-null  float64
 14  NH3_max    48498 non-null  float64
 15  NH3_avg    48498 non-null  float64
 16  SO2_min    55542 non-null  float64
 17  SO2_max    55542 non-null  float64
 18  SO2_avg    55542 non-null  float64
 19  CO_min     60440 non-null  float64
 20  CO_max     60440 non-null  float64
 21  CO_avg     60440 non-null  float64
 22  OZONE_min  58923 non-null  float64
 23  OZONE_max  58923 non-null  float64
 24  OZONE_avg  58923 non-null  float64
 25  AM/PM      64498 non-null  object
dtypes: float64(21), object(5)
memory usage: 13.3+ MB

In [4]:
l = df.loc[df['AM/PM'].isna()].index.to_list()
df['AM/PM'] = df['AM/PM'].fillna('PM')
l = df.loc[df['AM/PM'].isna()].index.to_list()
df['AM/PM']= df['AM/PM'].replace('PAM','PM')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64718 entries, 0 to 64717
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Station    64718 non-null  object
 1   Date_time  64718 non-null  object
 2   City       64718 non-null  object
 3   State      64718 non-null  object
 4   PM10_min   53814 non-null  float64
 5   PM10_max   53814 non-null  float64
 6   PM10_avg   53814 non-null  float64
 7   PM2.5_min  58287 non-null  float64
 8   PM2.5_max  58287 non-null  float64
 9   PM2.5_avg  58287 non-null  float64
 10  NO2_min    58688 non-null  float64
 11  NO2_max    58688 non-null  float64
 12  NO2_avg    58688 non-null  float64
 13  NH3_min    48498 non-null  float64
 14  NH3_max    48498 non-null  float64
 15  NH3_avg    48498 non-null  float64
 16  SO2_min    55542 non-null  float64
 17  SO2_max    55542 non-null  float64
 18  SO2_avg    55542 non-null  float64
 19  CO_min     60440 non-null  float64
 20  CO_max     60440 non-null  float64
 21  CO_avg     60440 non-null  float64
 22  OZONE_min  58923 non-null  float64
 23  OZONE_max  58923 non-null  float64
 24  OZONE_avg  58923 non-null  float64
 25  AM/PM      64718 non-null  object
dtypes: float64(21), object(5)
memory usage: 13.3+ MB

## TimeStamps

In [6]:
df['TimeStamp'] = df['Date_time'] + ' ' +  df['AM/PM']
form = {}
for stamp in df.TimeStamp:
    t = dt.strptime(stamp,'%d-%m-%Y %I:%M:%S %p')
    t = t.strftime('%d-%m-%Y %H:%M:%S %p')
    #convert to timedelta
    t = dt.strptime(t,"%d-%m-%Y %H:%M:%S %p")
    form[stamp] = t

form
df['test'] = df['TimeStamp'].map(form)

In [7]:
# df.sort_values(by = 'test').tail(20)

In [8]:
df = df.drop(['AM/PM','Date_time','TimeStamp'],axis = 1)
df.rename(columns = {'test' : 'Time'},inplace = True)
print(df.shape)
df.head()

(64718, 25)

,Station,City,State,PM10_min,PM10_max,PM10_avg,PM2.5_min,PM2.5_max,PM2.5_avg,NO2_min,...,SO2_min,SO2_max,SO2_avg,CO_min,CO_max,CO_avg,OZONE_min,OZONE_max,OZONE_avg,Time
0,"Secretariat, Amaravati - APPCB",Amaravati,Andhra_Pradesh,11.0,41.0,22.0,6.0,27.0,14.0,18.0,...,10.0,30.0,23.0,11.0,36.0,22.0,16.0,41.0,27.0,2020-09-22 14:00:00
1,"Anand Kala Kshetram, Rajamahendravaram - APPCB",Rajamahendravaram,Andhra_Pradesh,14.0,36.0,20.0,3.0,18.0,10.0,5.0,...,5.0,7.0,6.0,2.0,100.0,20.0,14.0,53.0,37.0,2020-09-22 14:00:00
2,"Tirumala, Tirupati - APPCB",Tirupati,Andhra_Pradesh,12.0,38.0,27.0,10.0,30.0,20.0,6.0,...,4.0,9.0,7.0,27.0,42.0,33.0,17.0,30.0,26.0,2020-09-22 14:00:00
3,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,Andhra_Pradesh,36.0,84.0,61.0,23.0,58.0,39.0,36.0,...,1.0,20.0,10.0,13.0,25.0,19.0,9.0,36.0,21.0,2020-09-22 14:00:00
4,"Railway Colony, Guwahati - APCB",Guwahati,Assam,9.0,78.0,31.0,3.0,98.0,29.0,8.0,...,23.0,25.0,23.0,20.0,38.0,22.0,16.0,21.0,18.0,2020-09-22 14:00:00

In [9]:
cities = list(set(list(df.City)))
len(cities)

126

## Coordinates

In [10]:
locator = Nominatim(user_agent="mikkel",timeout = 100)
# coord = []
coord = {}
for i,city in enumerate(cities):
#     print(str(i+1)+'.'+city)
    lc = locator.geocode(city)
    try:
        
#         coord.append([lc.latitude,lc.longitude])
        coord[city] = [lc.latitude,lc.longitude]
        print(str(i+1)+'.'+ city + ' SUCCESS!')
    except AttributeError:
        print(str(i+1)+'.'+city + ' DATA not available')
#         coord.append([city +'not','available'])
    
coord

1.Kaithal SUCCESS!
2.Thiruvananthapuram SUCCESS!
3.Mumbai SUCCESS!
4.Panipat SUCCESS!
5.Kohima SUCCESS!
6.Pali SUCCESS!
7.Ludhiana SUCCESS!
8.Paravattani SUCCESS!
9.Ratlam SUCCESS!
10.Yamunanagar SUCCESS!
11.Greater Noida SUCCESS!
12.Amaravati SUCCESS!
13.Bulandshahr SUCCESS!
14.Howrah SUCCESS!
15.Vapi SUCCESS!
16.Solapur SUCCESS!
17.Kollam SUCCESS!
18.Bagalkot SUCCESS!
19.Bathinda SUCCESS!
20.Chikkaballapur SUCCESS!
21.Coimbatore SUCCESS!
22.Gurugram SUCCESS!
23.Gandhinagar SUCCESS!
24.Vatva SUCCESS!
25.Thane SUCCESS!
26.Baghpat SUCCESS!
27.Rupnagar SUCCESS!
28.Kota SUCCESS!
29.Aurangabad SUCCESS!
30.Mandikhera SUCCESS!
31.Varanasi SUCCESS!
32.Damoh SUCCESS!
33.Rajamahendravaram SUCCESS!
34.Bhiwani SUCCESS!
35.Ujjain SUCCESS!
36.Kannur SUCCESS!
37.Sirsa SUCCESS!
38.Bhiwadi SUCCESS!
39.Kurukshetra SUCCESS!
40.Jaipur SUCCESS!
41.Jabalpur SUCCESS!
42.Maihar SUCCESS!
43.Yadgir SUCCESS!
44.Muzaffarpur SUCCESS!
45.Moradabad SUCCESS!
46.Singrauli SUCCESS!
47.Eloor SUCCESS!
48.Mandideep SUCCESS!
49.Talcher SUCCESS!
50.Tirupati SUCCESS!
51.Nandesari SUCCESS!
52.Katni SUCCESS!
53.Asansol SUCCESS!
54.Nagpur SUCCESS!
55.Dewas SUCCESS!
56.Udaipur SUCCESS!
57.Bhopal SUCCESS!
58.Kochi SUCCESS!
59.Gaya SUCCESS!
60.Narnaul SUCCESS!
61.Ankleshwar SUCCESS!
62.Indore SUCCESS!
63.Patiala SUCCESS!
64.Amritsar SUCCESS!
65.Rohtak SUCCESS!
66.Chikkamagaluru SUCCESS!
67.Shillong SUCCESS!
68.Hubballi SUCCESS!
69.Kalaburgi SUCCESS!
70.Agra SUCCESS!
71.Ghaziabad SUCCESS!
72.Delhi SUCCESS!
73.Karnal SUCCESS!
74.Ballabgarh SUCCESS!
75.Hapur SUCCESS!
76.Meerut SUCCESS!
77.Panchkula SUCCESS!
78.Bengaluru SUCCESS!
79.Brajrajnagar DATA not available
80.Noida SUCCESS!
81.Patna SUCCESS!
82.Hyderabad SUCCESS!
83.Charkhi Dadri SUCCESS!
84.Kozhikode SUCCESS!
85.Jind SUCCESS!
86.Chennai SUCCESS!
87.Hajipur SUCCESS!
88.Chandrapur SUCCESS!
89.Ahmedabad SUCCESS!
90.Faridabad SUCCESS!
91.Ramanagara SUCCESS!
92.Ernakulam SUCCESS!
93.Navi Mumbai SUCCESS!
94.Lucknow SUCCESS!
95.Sonipat SUCCESS!
96.Dharuhera SUCCESS!
97.Alwar SUCCESS!
98.Nashik SUCCESS!
99.Bahadurgarh SUCCESS!
100.Vijayapura SUCCESS!
101.Muzaffarnagar SUCCESS!
102.Jalandhar SUCCESS!
103.Pune SUCCESS!
104.Satna SUCCESS!
105.Visakhapatnam SUCCESS!
106.Kolkata SUCCESS!
107.Gwalior SUCCESS!
108.Aizawl SUCCESS!
109.Manesar SUCCESS!
110.Sagar SUCCESS!
111.Fatehabad SUCCESS!
112.Kalyan SUCCESS!
113.Siliguri SUCCESS!
114.Jodhpur SUCCESS!
115.Thrissur SUCCESS!
116.Mandi Gobindgarh SUCCESS!
117.Palwal SUCCESS!
118.Khanna SUCCESS!
119.Ajmer SUCCESS!
120.Guwahati SUCCESS!
121.Mysuru SUCCESS!
122.Chandigarh SUCCESS!
123.Hisar SUCCESS!
124.Kanpur SUCCESS!
125.Ambala SUCCESS!
126.Pithampur SUCCESS!

{'Kaithal': [29.7444561, 76.42555011591303],
 'Thiruvananthapuram': [8.5241122, 76.9360573],
 'Mumbai': [18.9387711, 72.8353355],
 'Panipat': [29.3912753, 76.9771675],
 'Kohima': [25.75, 94.166667],
 'Pali': [25.6040908, 73.41560878556902],
 'Ludhiana': [30.9090157, 75.851601],
 'Paravattani': [10.5190245, 76.241875],
 'Ratlam': [23.501957750000003, 74.95284518680097],
 'Yamunanagar': [30.2112003, 77.28638972360895],
 'Greater Noida': [28.4670734, 77.5137649],
 'Amaravati': [16.5744201, 80.3556079],
 'Bulandshahr': [28.38886085, 77.97479772598118],
 'Howrah': [22.5736296, 88.3251045],
 'Vapi': [20.3735482, 72.9084376],
 'Solapur': [17.84990665, 75.27632027348457],
 'Kollam': [8.8879509, 76.5955013],
 'Bagalkot': [16.1853166, 75.6967919],
 'Bathinda': [30.17911535, 75.04710156312628],
 'Chikkaballapur': [13.4352549, 77.7306866],
 'Coimbatore': [11.0018115, 76.9628425],
 'Gurugram': [28.4646148, 77.0299194],
 'Gandhinagar': [23.2232877, 72.6492267],
 'Vatva': [22.9589978, 72.6297981],
 'Thane': [19.1943294, 72.9701779],
 'Baghpat': [28.97240405, 77.33315284938224],
 'Rupnagar': [31.09168085, 76.5272673916138],
 'Kota': [25.1968256, 76.00089330885552],
 'Aurangabad': [19.877263, 75.3390241],
 'Mandikhera': [27.9000942, 76.9936654],
 'Varanasi': [25.3356491, 83.0076292],
 'Damoh': [23.75, 79.583333],
 'Rajamahendravaram': [17.0050454, 81.7804732],
 'Bhiwani': [28.7931703, 76.1391283],
 'Ujjain': [23.174597, 75.7851423],
 'Kannur': [11.8762254, 75.3738043],
 'Sirsa': [29.583333, 75.083333],
 'Bhiwadi': [28.2039413, 76.837441],
 'Kurukshetra': [29.9693747, 76.8482787],
 'Jaipur': [26.916194, 75.820349],
 'Jabalpur': [23.1608938, 79.9497702],
 'Maihar': [24.260444, 80.7592749],
 'Yadgir': [16.7689044, 77.1380381],
 'Muzaffarpur': [26.1486581, 85.34001282479626],
 'Moradabad': [28.8638424, 78.80577833091104],
 'Singrauli': [24.1974432, 82.6661453],
 'Eloor': [10.06946315, 76.30727493919397],
 'Mandideep': [23.0965633, 77.5144525],
 'Talcher': [20.9458183, 85.2111736],
 'Tirupati': [13.6316368, 79.4231711],
 'Nandesari': [22.4178037, 73.0949186],
 'Katni': [23.8339621, 80.392456],
 'Asansol': [23.6871297, 86.9746587],
 'Nagpur': [21.1498134, 79.0820556],
 'Dewas': [23.0, 76.166667],
 'Udaipur': [24.578721, 73.6862571],
 'Bhopal': [23.2584857, 77.401989],
 'Kochi': [9.931308, 76.2674136],
 'Gaya': [24.7964355, 85.0079563],
 'Narnaul': [27.997083250000003, 76.0757621771358],
 'Ankleshwar': [21.6293206, 72.9945103],
 'Indore': [22.7203616, 75.8681996],
 'Patiala': [30.2090874, 76.3398720856221],
 'Amritsar': [31.6343083, 74.8736788],
 'Rohtak': [28.9010899, 76.5801935],
 'Chikkamagaluru': [13.5, 75.5],
 'Shillong': [25.5760446, 91.8825282],
 'Hubballi': [15.3518378, 75.1379848],
 'Kalaburgi': [15.1226488, 77.6341981],
 'Agra': [27.1752554, 78.0098161],
 'Ghaziabad': [28.711241, 77.4445372],
 'Delhi': [28.6273928, 77.1716954],
 'Karnal': [29.6803266, 76.9896254],
 'Ballabgarh': [28.291713950000002, 77.36040706812736],
 'Hapur': [28.740612499999997, 77.83542556519009],
 'Meerut': [28.916667, 77.683333],
 'Panchkula': [30.616216450000003, 77.04197804321875],
 'Bengaluru': [12.9791198, 77.5912997],
 'Noida': [28.5356329, 77.3910727],
 'Patna': [25.6093239, 85.1235252],
 'Hyderabad': [17.38878595, 78.46106473453146],
 'Charkhi Dadri': [28.5919933, 76.2719817],
 'Kozhikode': [11.2586082, 75.7788735],
 'Jind': [29.38209845, 76.3141308591687],
 'Chennai': [13.0801721, 80.2838331],
 'Hajipur': [25.7205805, 85.25555961402884],
 'Chandrapur': [26.21231825, 91.89620684881584],
 'Ahmedabad': [23.0216238, 72.5797068],
 'Faridabad': [28.4029786, 77.3103837],
 'Ramanagara': [12.7252766, 77.2804797],
 'Ernakulam': [9.9825665, 76.2990313],
 'Navi Mumbai': [19.0308262, 73.0198537],
 'Lucknow': [26.8381, 80.9346001],
 'Sonipat': [29.0033144, 77.0167323],
 'Dharuhera': [28.2055216, 76.7953099],
 'Alwar': [27.639077049999997, 76.6144524902045],
 'Nashik': [20.0112475, 73.7902364],
 'Bahadurgarh': [28.660964800000002, 76.83467647083376],
 'Vijayapura': [16.666667, 75.916667],
 'Muzaffarnagar': [29.44800635, 77.74068502568672],
 'Jalandhar': [31.29201065, 75.56805772253911],
 'Pune': [18.521428, 73.8544541],
 'Satna': [24.5, 81.0],
 'Visakhapatnam': [17.7231276, 83.3012842],
 'Kolkata': [22.5726723, 88.3638815],
 'Gwalior': [26.2037247, 78.1573628],
 'Aizawl': [23.7414092, 92.7209297],
 'Manesar': [28.32470955, 76.92637867182586],
 'Sagar': [23.80961225, 78.75911360578634],
 'Fatehabad': [27.02766825, 78.2074341134146],
 'Kalyan': [19.2716301, 73.23586552517415],
 'Siliguri': [26.7164127, 88.4309916],
 'Jodhpur': [26.2967719, 73.0351433],
 'Thrissur': [10.5256264, 76.2132542],
 'Mandi Gobindgarh': [30.6518301, 76.2998708],
 'Palwal': [28.12502575, 77.35831300773046],
 'Khanna': [31.0782705, 75.1318503],
 'Ajmer': [26.4691, 74.639],
 'Guwahati': [26.1805978, 91.753943],
 'Mysuru': [12.3051828, 76.6553609],
 'Chandigarh': [30.72984395, 76.78414567016054],
 'Hisar': [29.168807, 75.7461103],
 'Kanpur': [26.4609135, 80.3217588],
 'Ambala': [30.3843674, 76.770421],
 'Pithampur': [22.6105576, 75.6790283]}

In [8]:
cities.remove('Brajrajnagar')
print(len(cities))
len(coord)

125

125

In [11]:
times = list(set(list(df.Time)))
# # df.loc[df.Date_time == times[0]]
# times = list(set(list(df.Date_time)))
first_ind ={}
for time in times:
    first_ind[time]= df.loc[df.Time == time].index[0]
first_ind

{Timestamp('2020-10-16 09:00:00'): 46646,
 Timestamp('2020-09-30 10:00:00'): 8373,
 Timestamp('2020-10-19 10:00:00'): 54822,
 Timestamp('2020-10-18 19:00:00'): 54185,
 Timestamp('2020-10-14 22:00:00'): 42135,
 Timestamp('2020-10-21 05:00:00'): 60814,
 Timestamp('2020-10-13 14:00:00'): 37195,
 Timestamp('2020-10-17 12:00:00'): 51616,
 Timestamp('2020-10-20 13:00:00'): 59728,
 Timestamp('2020-10-14 14:00:00'): 40404,
 Timestamp('2020-10-21 15:00:00'): 62977,
 Timestamp('2020-10-19 11:00:00'): 55246,
 Timestamp('2020-10-02 07:00:00'): 12694,
 Timestamp('2020-10-02 15:00:00'): 14422,
 Timestamp('2020-10-18 13:00:00'): 52907,
 Timestamp('2020-09-28 13:00:00'): 4753,
 Timestamp('2020-10-05 12:00:00'): 21010,
 Timestamp('2020-10-02 18:00:00'): 15064,
 Timestamp('2020-10-08 09:00:00'): 28486,
 Timestamp('2020-10-18 09:00:00'): 52048,
 Timestamp('2020-10-17 22:00:00'): 51401,
 Timestamp('2020-10-18 14:00:00'): 53121,
 Timestamp('2020-10-20 16:00:00'): 60379,
 Timestamp('2020-10-21 20:00:00'): 64067,
 Timestamp('2020-10-18 12:00:00'): 52693,
 Timestamp('2020-09-28 19:00:00'): 5176,
 Timestamp('2020-10-06 07:00:00'): 23345,
 Timestamp('2020-10-13 21:00:00'): 38477,
 Timestamp('2020-10-16 13:00:00'): 47507,
 Timestamp('2020-10-07 06:00:00'): 25690,
 Timestamp('2020-09-23 13:00:00'): 1308,
 Timestamp('2020-10-07 08:00:00'): 26118,
 Timestamp('2020-10-13 11:00:00'): 36771,
 Timestamp('2020-10-06 14:00:00'): 24620,
 Timestamp('2020-10-13 20:00:00'): 38262,
 Timestamp('2020-10-16 12:00:00'): 48373,
 Timestamp('2020-10-09 09:00:00'): 30210,
 Timestamp('2020-10-14 08:00:00'): 39546,
 Timestamp('2020-10-20 09:00:00'): 58870,
 Timestamp('2020-10-18 10:00:00'): 52263,
 Timestamp('2020-10-02 11:00:00'): 13561,
 Timestamp('2020-09-22 19:00:00'): 436,
 Timestamp('2020-09-30 13:00:00'): 8802,
 Timestamp('2020-10-18 17:00:00'): 53761,
 Timestamp('2020-10-02 14:00:00'): 14208,
 Timestamp('2020-10-10 10:00:00'): 31266,
 Timestamp('2020-10-15 22:00:00'): 45354,
 Timestamp('2020-10-18 20:00:00'): 54397,
 Timestamp('2020-10-01 20:00:00'): 11610,
 Timestamp('2020-10-19 13:00:00'): 54608,
 Timestamp('2020-09-25 16:00:00'): 3043,
 Timestamp('2020-09-29 04:00:00'): 5809,
 Timestamp('2020-10-06 15:00:00'): 24833,
 Timestamp('2020-10-03 13:00:00'): 17416,
 Timestamp('2020-10-13 12:00:00'): 38907,
 Timestamp('2020-10-16 06:00:00'): 46216,
 Timestamp('2020-10-13 22:00:00'): 38692,
 Timestamp('2020-10-17 16:00:00'): 50107,
 Timestamp('2020-10-13 16:00:00'): 37621,
 Timestamp('2020-10-15 01:00:00'): 42780,
 Timestamp('2020-09-29 10:00:00'): 6231,
 Timestamp('2020-10-19 06:00:00'): 56525,
 Timestamp('2020-10-06 11:00:00'): 23981,
 Timestamp('2020-09-29 16:00:00'): 6654,
 Timestamp('2020-09-30 14:00:00'): 9449,
 Timestamp('2020-09-30 05:00:00'): 7299,
 Timestamp('2020-10-10 08:00:00'): 30846,
 Timestamp('2020-10-02 19:00:00'): 15278,
 Timestamp('2020-10-17 10:00:00'): 49022,
 Timestamp('2020-10-17 21:00:00'): 51186,
 Timestamp('2020-10-02 09:00:00'): 13128,
 Timestamp('2020-09-28 01:00:00'): 4543,
 Timestamp('2020-10-16 01:00:00'): 45784,
 Timestamp('2020-10-01 07:00:00'): 10961,
 Timestamp('2020-10-18 18:00:00'): 53973,
 Timestamp('2020-09-30 09:00:00'): 8159,
 Timestamp('2020-10-19 17:00:00'): 56310,
 Timestamp('2020-10-21 13:00:00'): 62543,
 Timestamp('2020-10-04 21:00:00'): 19563,
 Timestamp('2020-10-15 08:00:00'): 43209,
 Timestamp('2020-10-11 05:00:00'): 34028,
 Timestamp('2020-10-17 17:00:00'): 50323,
 Timestamp('2020-10-02 22:00:00'): 15920,
 Timestamp('2020-10-11 02:00:00'): 33814,
 Timestamp('2020-10-16 07:00:00'): 46431,
 Timestamp('2020-10-09 08:00:00'): 29995,
 Timestamp('2020-10-03 12:00:00'): 17203,
 Timestamp('2020-10-02 01:00:00'): 12477,
 Timestamp('2020-10-03 08:00:00'): 16776,
 Timestamp('2020-10-21 00:00:00'): 62325,
 Timestamp('2020-10-21 08:00:00'): 61462,
 Timestamp('2020-10-09 07:00:00'): 29780,
 Timestamp('2020-10-02 08:00:00'): 12911,
 Timestamp('2020-10-03 06:00:00'): 16348,
 Timestamp('2020-09-30 18:00:00'): 9665,
 Timestamp('2020-10-03 16:00:00'): 18061,
 Timestamp('2020-10-06 18:00:00'): 25260,
 Timestamp('2020-10-18 07:00:00'): 51833,
 Timestamp('2020-10-19 16:00:00'): 56096,
 Timestamp('2020-10-20 10:00:00'): 59083,
 Timestamp('2020-10-21 06:00:00'): 61030,
 Timestamp('2020-10-16 11:00:00'): 47076,
 Timestamp('2020-10-21 10:00:00'): 61894,
 Timestamp('2020-09-29 07:00:00'): 6020,
 Timestamp('2020-10-11 11:00:00'): 34456,
 Timestamp('2020-09-30 20:00:00'): 10097,
 Timestamp('2020-10-01 08:00:00'): 11178,
 Timestamp('2020-10-19 19:00:00'): 57162,
 Timestamp('2020-10-14 21:00:00'): 41919,
 Timestamp('2020-10-15 16:00:00'): 44706,
 Timestamp('2020-10-02 20:00:00'): 15492,
 Timestamp('2020-10-17 14:00:00'): 49673,
 Timestamp('2020-10-08 14:00:00'): 29134,
 Timestamp('2020-10-01 22:00:00'): 11827,
 Timestamp('2020-10-02 16:00:00'): 14636,
 Timestamp('2020-10-17 15:00:00'): 49890,
 Timestamp('2020-10-14 17:00:00'): 41052,
 Timestamp('2020-10-14 18:00:00'): 41269,
 Timestamp('2020-10-11 14:00:00'): 34668,
 Timestamp('2020-10-15 15:00:00'): 44491,
 Timestamp('2020-09-30 17:00:00'): 9017,
 Timestamp('2020-09-30 07:00:00'): 7729,
 Timestamp('2020-10-11 17:00:00'): 35299,
 Timestamp('2020-10-20 11:00:00'): 59297,
 Timestamp('2020-09-30 12:00:00'): 10529,
 Timestamp('2020-10-05 07:00:00'): 20185,
 Timestamp('2020-10-07 20:00:00'): 27191,
 Timestamp('2020-10-07 22:00:00'): 27622,
 Timestamp('2020-10-18 15:00:00'): 53335,
 Timestamp('2020-10-06 09:00:00'): 23557,
 Timestamp('2020-10-14 11:00:00'): 39974,
 Timestamp('2020-10-07 09:00:00'): 26332,
 Timestamp('2020-10-19 21:00:00'): 58017,
 Timestamp('2020-10-02 17:00:00'): 14850,
 Timestamp('2020-10-03 14:00:00'): 17629,
 Timestamp('2020-10-08 00:00:00'): 27838,
 Timestamp('2020-10-17 20:00:00'): 50971,
 Timestamp('2020-10-14 06:00:00'): 39118,
 Timestamp('2020-10-15 11:00:00'): 43849,
 Timestamp('2020-10-20 14:00:00'): 59945,
 Timestamp('2020-10-14 16:00:00'): 40836,
 Timestamp('2020-10-16 02:00:00'): 46000,
 Timestamp('2020-10-16 10:00:00'): 46861,
 Timestamp('2020-10-05 19:00:00'): 22491,
 Timestamp('2020-10-20 06:00:00'): 58231,
 Timestamp('2020-10-16 14:00:00'): 47723,
 Timestamp('2020-10-05 15:00:00'): 21642,
 Timestamp('2020-10-07 18:00:00'): 26761,
 Timestamp('2020-10-05 18:00:00'): 22277,
 Timestamp('2020-09-30 19:00:00'): 9881,
 Timestamp('2020-10-21 19:00:00'): 63849,
 Timestamp('2020-10-13 13:00:00'): 36983,
 Timestamp('2020-10-06 12:00:00'): 24194,
 Timestamp('2020-10-05 09:00:00'): 20598,
 Timestamp('2020-10-12 22:00:00'): 35509,
 Timestamp('2020-10-08 07:00:00'): 28054,
 Timestamp('2020-10-03 19:00:00'): 18709,
 Timestamp('2020-10-02 21:00:00'): 15706,
 Timestamp('2020-10-05 16:00:00'): 21853,
 Timestamp('2020-10-14 10:00:00'): 39760,
 Timestamp('2020-09-30 06:00:00'): 7514,
 Timestamp('2020-09-22 14:00:00'): 0,
 Timestamp('2020-10-19 08:00:00'): 57377,
 Timestamp('2020-10-14 23:00:00'): 42350,
 Timestamp('2020-10-17 11:00:00'): 49239,
 Timestamp('2020-10-03 18:00:00'): 18493,
 Timestamp('2020-10-04 20:00:00'): 19355,
 Timestamp('2020-10-10 14:00:00'): 32108,
 Timestamp('2020-10-13 09:00:00'): 36349,
 Timestamp('2020-10-18 11:00:00'): 52478,
 Timestamp('2020-10-20 12:00:00'): 59512,
 Timestamp('2020-10-05 06:00:00'): 19978,
 Timestamp('2020-10-21 16:00:00'): 63195,
 Timestamp('2020-10-16 17:00:00'): 48156,
 Timestamp('2020-10-10 15:00:00'): 32320,
 Timestamp('2020-09-24 18:00:00'): 2176,
 Timestamp('2020-10-03 17:00:00'): 18277,
 Timestamp('2020-09-26 19:00:00'): 3691,
 Timestamp('2020-10-10 17:00:00'): 32746,
 Timestamp('2020-10-11 16:00:00'): 35089,
 Timestamp('2020-09-24 16:00:00'): 1960,
 Timestamp('2020-09-30 08:00:00'): 7944,
 Timestamp('2020-10-16 15:00:00'): 47939,
 Timestamp('2020-10-17 09:00:00'): 48805,
 Timestamp('2020-10-15 20:00:00'): 44922,
 Timestamp('2020-10-10 18:00:00'): 32959,
 Timestamp('2020-10-21 17:00:00'): 63413,
 Timestamp('2020-10-19 22:00:00'): 55033,
 Timestamp('2020-09-23 07:00:00'): 1090,
 Timestamp('2020-10-17 08:00:00'): 48588,
 Timestamp('2020-10-07 07:00:00'): 25904,
 Timestamp('2020-10-10 11:00:00'): 31476,
 Timestamp('2020-10-05 13:00:00'): 21220,
 Timestamp('2020-09-24 13:00:00'): 1744,
 Timestamp('2020-10-11 08:00:00'): 34242,
 Timestamp('2020-10-19 18:00:00'): 56736,
 Timestamp('2020-10-21 11:00:00'): 62109,
 Timestamp('2020-10-08 11:00:00'): 28702,
 Timestamp('2020-10-13 17:00:00'): 37834,
 Timestamp('2020-09-23 04:00:00'): 872,
 Timestamp('2020-09-29 13:00:00'): 6442,
 Timestamp('2020-09-25 09:00:00'): 2609,
 Timestamp('2020-10-07 21:00:00'): 27406,
 Timestamp('2020-10-18 16:00:00'): 53548,
 Timestamp('2020-10-10 20:00:00'): 33385,
 Timestamp('2020-10-21 18:00:00'): 63631,
 Timestamp('2020-10-03 07:00:00'): 16562,
 Timestamp('2020-10-08 15:00:00'): 29349,
 Timestamp('2020-10-14 15:00:00'): 40620,
 Timestamp('2020-10-08 18:00:00'): 29565,
 Timestamp('2020-10-15 09:00:00'): 43423,
 Timestamp('2020-10-01 06:00:00'): 10744,
 Timestamp('2020-09-30 11:00:00'): 8587,
 Timestamp('2020-10-06 20:00:00'): 25475,
 Timestamp('2020-09-25 07:00:00'): 2393,
 Timestamp('2020-10-15 00:00:00'): 44062,
 Timestamp('2020-10-16 00:00:00'): 47291,
 Timestamp('2020-10-13 10:00:00'): 36560,
 Timestamp('2020-10-19 14:00:00'): 55669,
 Timestamp('2020-10-20 07:00:00'): 58444,
 Timestamp('2020-10-03 11:00:00'): 16990,
 Timestamp('2020-10-15 14:00:00'): 44277,
 Timestamp('2020-09-25 13:00:00'): 2826,
 Timestamp('2020-09-29 18:00:00'): 6869,
 Timestamp('2020-10-02 13:00:00'): 13993,
 Timestamp('2020-10-06 01:00:00'): 22919,
 Timestamp('2020-10-15 07:00:00'): 42995,
 Timestamp('2020-10-20 15:00:00'): 60162,
 Timestamp('2020-10-06 06:00:00'): 23133,
 Timestamp('2020-10-05 17:00:00'): 22065,
 Timestamp('2020-09-26 07:00:00'): 3476,
 Timestamp('2020-09-25 19:00:00'): 3259,
 Timestamp('2020-10-07 17:00:00'): 26546,
 Timestamp('2020-10-10 16:00:00'): 32533,
 Timestamp('2020-10-17 13:00:00'): 49456,
 Timestamp('2020-10-17 19:00:00'): 50755,
 Timestamp('2020-10-14 13:00:00'): 40188,
 Timestamp('2020-10-15 10:00:00'): 43636,
 Timestamp('2020-10-15 21:00:00'): 45138,
 Timestamp('2020-10-14 07:00:00'): 39332,
 Timestamp('2020-09-22 16:00:00'): 218,
 Timestamp('2020-10-07 19:00:00'): 26976,
 Timestamp('2020-10-09 15:00:00'): 30635,
 Timestamp('2020-10-03 05:00:00'): 16134,
 Timestamp('2020-10-06 17:00:00'): 25046,
 Timestamp('2020-10-14 20:00:00'): 41703,
 Timestamp('2020-10-06 13:00:00'): 24407,
 Timestamp('2020-10-21 12:00:00'): 64503,
 Timestamp('2020-10-05 22:00:00'): 22705,
 Timestamp('2020-09-28 22:00:00'): 5387,
 Timestamp('2020-10-08 08:00:00'): 28270,
 Timestamp('2020-09-26 10:00:00'): 3692,
 Timestamp('2020-10-20 08:00:00'): 58657,
 Timestamp('2020-10-21 07:00:00'): 61246,
 Timestamp('2020-09-28 16:00:00'): 4964,
 Timestamp('2020-10-17 18:00:00'): 50539,
 Timestamp('2020-10-21 09:00:00'): 61678,
 Timestamp('2020-10-19 07:00:00'): 56951,
 Timestamp('2020-09-30 21:00:00'): 10313,
 Timestamp('2020-10-04 09:00:00'): 18925,
 Timestamp('2020-10-05 14:00:00'): 21431,
 Timestamp('2020-10-10 09:00:00'): 31056,
 Timestamp('2020-09-27 19:00:00'): 4332,
 Timestamp('2020-09-22 22:00:00'): 654,
 Timestamp('2020-10-06 10:00:00'): 23769,
 Timestamp('2020-10-01 23:00:00'): 12261,
 Timestamp('2020-10-19 09:00:00'): 57802,
 Timestamp('2020-10-10 21:00:00'): 33599,
 Timestamp('2020-10-13 07:00:00'): 35927,
 Timestamp('2020-09-30 04:00:00'): 7084,
 Timestamp('2020-10-10 12:00:00'): 31686,
 Timestamp('2020-09-30 15:00:00'): 9233,
 Timestamp('2020-10-21 14:00:00'): 62760,
 Timestamp('2020-10-13 06:00:00'): 35716,
 Timestamp('2020-10-15 12:00:00'): 45570,
 Timestamp('2020-10-14 19:00:00'): 41486,
 Timestamp('2020-10-04 23:00:00'): 19771,
 Timestamp('2020-10-02 12:00:00'): 13777,
 Timestamp('2020-10-14 12:00:00'): 42565,
 Timestamp('2020-10-02 10:00:00'): 13345,
 Timestamp('2020-10-10 19:00:00'): 33172,
 Timestamp('2020-10-01 09:00:00'): 11394,
 Timestamp('2020-10-13 08:00:00'): 36138,
 Timestamp('2020-10-21 22:00:00'): 64285,
 Timestamp('2020-10-19 15:00:00'): 55883,
 Timestamp('2020-09-26 22:00:00'): 3904,
 Timestamp('2020-10-10 13:00:00'): 31897,
 Timestamp('2020-10-08 12:00:00'): 28918,
 Timestamp('2020-10-05 10:00:00'): 20804,
 Timestamp('2020-10-13 18:00:00'): 38048,
 Timestamp('2020-10-03 15:00:00'): 17845,
 Timestamp('2020-10-09 14:00:00'): 30424,
 Timestamp('2020-10-19 12:00:00'): 55457,
 Timestamp('2020-10-19 20:00:00'): 57588,
 Timestamp('2020-10-01 12:00:00'): 12044,
 Timestamp('2020-09-29 01:00:00'): 5598,
 Timestamp('2020-10-13 15:00:00'): 37408,
 Timestamp('2020-10-05 08:00:00'): 20392,
 Timestamp('2020-10-11 15:00:00'): 34879,
 Timestamp('2020-10-20 23:00:00'): 60596}

In [12]:
len(first_ind)

300

In [13]:
list_df = []
i = 0
for time,ind in first_ind.items():
#     print(time,ind)
    a = df.loc[df['Time'] == df.Time[ind]].copy()
    list_df.append(a)
    i+=1
# a.TimeStamp.value_counts()

In [14]:
sum = 0
for _ in list_df:
    sum += _.shape[0]
print(sum)

64718

In [15]:
list_df[0].head()

,Station,City,State,PM10_min,PM10_max,PM10_avg,PM2.5_min,PM2.5_max,PM2.5_avg,NO2_min,...,SO2_min,SO2_max,SO2_avg,CO_min,CO_max,CO_avg,OZONE_min,OZONE_max,OZONE_avg,Time
46646,"Secretariat, Amaravati - APPCB",Amaravati,Andhra_Pradesh,16.0,60.0,36.0,13.0,52.0,30.0,22.0,...,12.0,31.0,20.0,23.0,57.0,35.0,19.0,61.0,25.0,2020-10-16 09:00:00
46647,"Anand Kala Kshetram, Rajamahendravaram - APPCB",Rajamahendravaram,Andhra_Pradesh,21.0,87.0,43.0,18.0,70.0,36.0,9.0,...,4.0,12.0,8.0,12.0,102.0,28.0,3.0,60.0,11.0,2020-10-16 09:00:00
46648,"Tirumala, Tirupati - APPCB",Tirupati,Andhra_Pradesh,17.0,50.0,29.0,8.0,36.0,22.0,8.0,...,1.0,12.0,6.0,36.0,64.0,44.0,19.0,118.0,56.0,2020-10-16 09:00:00
46649,"GVM Corporation, Visakhapatnam - APPCB",Visakhapatnam,Andhra_Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-16 09:00:00
46650,"Railway Colony, Guwahati - APCB",Guwahati,Assam,33.0,174.0,75.0,NaN,NaN,NaN,7.0,...,23.0,26.0,25.0,22.0,82.0,37.0,16.0,29.0,20.0,2020-10-16 09:00:00

## Dropping out stations. 
## Only City names are used.

In [16]:
num_cols = [cname for cname in df.columns if df[cname].dtype in ['int64','float64']]
city_set = list(set(cities))
def Cleaner(df):    
        df.drop('Station',axis = 1,inplace = True)
        df.sort_values(by = 'City',inplace = True )

In [17]:
for _ in list_df:
#     print(df_t.shape)
    Cleaner(_)

In [18]:
list_df[0].head()

,City,State,PM10_min,PM10_max,PM10_avg,PM2.5_min,PM2.5_max,PM2.5_avg,NO2_min,NO2_max,...,SO2_min,SO2_max,SO2_avg,CO_min,CO_max,CO_avg,OZONE_min,OZONE_max,OZONE_avg,Time
46825,Agra,Uttar_Pradesh,NaN,NaN,NaN,102.0,318.0,235.0,10.0,84.0,...,NaN,NaN,NaN,16.0,86.0,32.0,78.0,237.0,106.0,2020-10-16 09:00:00
46698,Ahmedabad,Gujarat,61.0,164.0,109.0,58.0,245.0,130.0,25.0,131.0,...,8.0,56.0,30.0,8.0,107.0,36.0,2.0,158.0,7.0,2020-10-16 09:00:00
46804,Ajmer,Rajasthan,110.0,140.0,123.0,96.0,286.0,184.0,12.0,82.0,...,1.0,10.0,5.0,38.0,106.0,43.0,22.0,125.0,58.0,2020-10-16 09:00:00
46805,Alwar,Rajasthan,63.0,156.0,100.0,72.0,171.0,94.0,18.0,117.0,...,12.0,26.0,15.0,18.0,108.0,38.0,9.0,95.0,22.0,2020-10-16 09:00:00
46646,Amaravati,Andhra_Pradesh,16.0,60.0,36.0,13.0,52.0,30.0,22.0,55.0,...,12.0,31.0,20.0,23.0,57.0,35.0,19.0,61.0,25.0,2020-10-16 09:00:00

In [19]:
def Final_Cleaning(df):
    row_f = []
    for city in city_set:
        row = {}
        row['city'] = city

        for col in num_cols:
            temp = df[df['City'] == city][col].dropna().value_counts().sum()
            row[col] = df.loc[df['City']== city][col].dropna().sum()/temp
            
        row_f.append(row)
    d = pd.DataFrame(row_f).sort_values(by = 'city')
    d['Coordinates'] = d.city.map(coord)
    d['Time'] = df.iloc[0].Time
    return d

In [20]:
for i in range(300):
    print("Currently doing" + str(i))
    list_df[i] = Final_Cleaning(list_df[i])

Currently doing0

D:\Python\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in double_scalars
  # This is added back by InteractiveShellApp.init_path()

Currently doing1
Currently doing2
Currently doing3
Currently doing4
Currently doing5
Currently doing6
Currently doing7
Currently doing8
Currently doing9
Currently doing10
Currently doing11
Currently doing12
Currently doing13
Currently doing14
Currently doing15
Currently doing16
Currently doing17
Currently doing18
Currently doing19
Currently doing20
Currently doing21
Currently doing22
Currently doing23
Currently doing24
Currently doing25
Currently doing26
Currently doing27
Currently doing28
Currently doing29
Currently doing30
Currently doing31
Currently doing32
Currently doing33
Currently doing34
Currently doing35
Currently doing36
Currently doing37
Currently doing38
Currently doing39
Currently doing40
Currently doing41
Currently doing42
Currently doing43
Currently doing44
Currently doing45
Currently doing46
Currently doing47
Currently doing48
Currently doing49
Currently doing50
Currently doing51
Currently doing52
Currently doing53
Currently doing54
Currently doing55
Currently doing56
Currently doing57
Currently doing58
Currently doing59
Currently doing60
Currently doing61
Currently doing62
Currently doing63
Currently doing64
Currently doing65
Currently doing66
Currently doing67
Currently doing68
Currently doing69
Currently doing70
Currently doing71
Currently doing72
Currently doing73
Currently doing74
Currently doing75
Currently doing76
Currently doing77
Currently doing78
Currently doing79
Currently doing80
Currently doing81
Currently doing82
Currently doing83
Currently doing84
Currently doing85
Currently doing86
Currently doing87
Currently doing88
Currently doing89
Currently doing90
Currently doing91
Currently doing92
Currently doing93
Currently doing94
Currently doing95
Currently doing96
Currently doing97
Currently doing98
Currently doing99
Currently doing100
Currently doing101
Currently doing102
Currently doing103
Currently doing104
Currently doing105
Currently doing106
Currently doing107
Currently doing108
Currently doing109
Currently doing110
Currently doing111
Currently doing112
Currently doing113
Currently doing114
Currently doing115
Currently doing116
Currently doing117
Currently doing118
Currently doing119
Currently doing120
Currently doing121
Currently doing122
Currently doing123
Currently doing124
Currently doing125
Currently doing126
Currently doing127
Currently doing128
Currently doing129
Currently doing130
Currently doing131
Currently doing132
Currently doing133
Currently doing134
Currently doing135
Currently doing136
Currently doing137
Currently doing138
Currently doing139
Currently doing140
Currently doing141
Currently doing142
Currently doing143
Currently doing144
Currently doing145
Currently doing146
Currently doing147
Currently doing148
Currently doing149
Currently doing150
Currently doing151
Currently doing152
Currently doing153
Currently doing154
Currently doing155
Currently doing156
Currently doing157
Currently doing158
Currently doing159
Currently doing160
Currently doing161
Currently doing162
Currently doing163
Currently doing164
Currently doing165
Currently doing166
Currently doing167
Currently doing168
Currently doing169
Currently doing170
Currently doing171
Currently doing172
Currently doing173
Currently doing174
Currently doing175
Currently doing176
Currently doing177
Currently doing178
Currently doing179
Currently doing180
Currently doing181
Currently doing182
Currently doing183
Currently doing184
Currently doing185
Currently doing186
Currently doing187
Currently doing188
Currently doing189
Currently doing190
Currently doing191
Currently doing192
Currently doing193
Currently doing194
Currently doing195
Currently doing196
Currently doing197
Currently doing198
Currently doing199
Currently doing200
Currently doing201
Currently doing202
Currently doing203
Currently doing204
Currently doing205
Currently doing206
Currently doing207
Currently doing208
Currently doing209
Currently doing210
Currently doing211
Currently doing212
Currently doing213
Currently doing214
Currently doing215
Currently doing216
Currently doing217
Currently doing218
Currently doing219
Currently doing220
Currently doing221
Currently doing222
Currently doing223
Currently doing224
Currently doing225
Currently doing226
Currently doing227
Currently doing228
Currently doing229
Currently doing230
Currently doing231
Currently doing232
Currently doing233
Currently doing234
Currently doing235
Currently doing236
Currently doing237
Currently doing238
Currently doing239
Currently doing240
Currently doing241
Currently doing242
Currently doing243
Currently doing244
Currently doing245
Currently doing246
Currently doing247
Currently doing248
Currently doing249
Currently doing250
Currently doing251
Currently doing252
Currently doing253
Currently doing254
Currently doing255
Currently doing256
Currently doing257
Currently doing258
Currently doing259
Currently doing260
Currently doing261
Currently doing262
Currently doing263
Currently doing264
Currently doing265
Currently doing266
Currently doing267
Currently doing268
Currently doing269
Currently doing270
Currently doing271
Currently doing272
Currently doing273
Currently doing274
Currently doing275
Currently doing276
Currently doing277
Currently doing278
Currently doing279
Currently doing280
Currently doing281
Currently doing282
Currently doing283
Currently doing284
Currently doing285
Currently doing286
Currently doing287
Currently doing288
Currently doing289
Currently doing290
Currently doing291
Currently doing292
Currently doing293
Currently doing294
Currently doing295
Currently doing296
Currently doing297
Currently doing298
Currently doing299

In [21]:
final = pd.concat(list_df,ignore_index = True)

In [23]:
final.sort_values(by = 'Time')

,city,PM10_min,PM10_max,PM10_avg,PM2.5_min,PM2.5_max,PM2.5_avg,NO2_min,NO2_max,NO2_avg,...,SO2_max,SO2_avg,CO_min,CO_max,CO_avg,OZONE_min,OZONE_max,OZONE_avg,Coordinates,Time
20411,Yamunanagar,78.000000,170.000000,121.000000,59.000000,239.000000,134.000000,14.000000,75.000000,31.000000,...,7.000000,6.000000,19.000000,74.000000,22.000000,10.0,122.0,32.000000,"[30.2112003, 77.28638972360895]",2020-09-22 14:00:00
20377,Palwal,49.000000,168.000000,109.000000,15.000000,66.000000,37.000000,19.000000,23.000000,20.000000,...,5.000000,4.000000,6.000000,54.000000,10.000000,8.0,65.0,21.000000,"[28.12502575, 77.35831300773046]",2020-09-22 14:00:00
20376,Pali,46.000000,187.000000,103.000000,39.000000,190.000000,83.000000,13.000000,24.000000,20.000000,...,22.000000,9.000000,22.000000,56.000000,37.000000,1.0,50.0,22.000000,"[25.6040908, 73.41560878556902]",2020-09-22 14:00:00
20375,Noida,54.000000,188.500000,124.750000,31.333333,197.333333,106.666667,12.500000,38.000000,21.250000,...,51.000000,15.666667,50.500000,94.000000,57.000000,7.5,89.0,19.750000,"[28.5356329, 77.3910727]",2020-09-22 14:00:00
20374,Navi Mumbai,NaN,NaN,NaN,13.000000,61.000000,43.000000,5.000000,33.000000,18.000000,...,13.000000,11.000000,72.000000,106.500000,79.000000,1.0,11.5,2.000000,"[19.0308262, 73.0198537]",2020-09-22 14:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35694,Fatehabad,117.000000,231.000000,176.000000,109.000000,332.000000,272.000000,4.000000,13.000000,8.000000,...,46.000000,27.000000,9.000000,63.000000,36.000000,30.0,195.0,98.000000,"[27.02766825, 78.2074341134146]",2020-10-21 22:00:00
35693,Faridabad,119.333333,492.333333,318.000000,58.250000,436.500000,292.000000,42.666667,132.000000,83.333333,...,47.750000,24.750000,32.750000,127.000000,69.750000,6.0,121.5,36.750000,"[28.4029786, 77.3103837]",2020-10-21 22:00:00
35692,Ernakulam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,68.000000,77.000000,74.000000,NaN,NaN,NaN,"[9.9825665, 76.2990313]",2020-10-21 22:00:00
35705,Howrah,21.000000,50.000000,35.333333,13.333333,42.333333,23.000000,21.666667,42.666667,28.333333,...,21.333333,13.333333,4.333333,35.333333,11.333333,10.0,30.0,24.333333,"[22.5736296, 88.3251045]",2020-10-21 22:00:00
35721,Khanna,67.000000,152.000000,118.000000,48.000000,105.000000,80.000000,15.000000,27.000000,20.000000,...,33.000000,16.000000,8.000000,23.000000,14.000000,4.0,110.0,54.000000,"[31.0782705, 75.1318503]",2020-10-21 22:00:00

In [24]:
final.to_csv('FINAL_DATA.csv')

In [27]:
df = pd.read_csv('FINAL_DATA.csv',index_col=0).sort_values(by = 'Time')

In [30]:
# cities = list(set(df.))
df.columns

Index(['city', 'PM10_min', 'PM10_max', 'PM10_avg', 'PM2.5_min', 'PM2.5_max',
       'PM2.5_avg', 'NO2_min', 'NO2_max', 'NO2_avg', 'NH3_min', 'NH3_max',
       'NH3_avg', 'SO2_min', 'SO2_max', 'SO2_avg', 'CO_min', 'CO_max',
       'CO_avg', 'OZONE_min', 'OZONE_max', 'OZONE_avg', 'Coordinates', 'Time'],
      dtype='object')

In [31]:
cols = ['city','Coordinates','Time','PM10_min', 'PM10_max', 'PM10_avg', 'PM2.5_min', 'PM2.5_max',
       'PM2.5_avg', 'NO2_min', 'NO2_max', 'NO2_avg', 'NH3_min', 'NH3_max',
       'NH3_avg', 'SO2_min', 'SO2_max', 'SO2_avg', 'CO_min', 'CO_max',
       'CO_avg', 'OZONE_min', 'OZONE_max', 'OZONE_avg']
df = df[cols]

In [33]:
df.rename(columns = {'city' : 'City'},inplace = True)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37800 entries, 20411 to 35721
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         37800 non-null  object
 1   Coordinates  37500 non-null  object
 2   Time         37800 non-null  object
 3   PM10_min     31697 non-null  float64
 4   PM10_max     31697 non-null  float64
 5   PM10_avg     31697 non-null  float64
 6   PM2.5_min    32938 non-null  float64
 7   PM2.5_max    32938 non-null  float64
 8   PM2.5_avg    32938 non-null  float64
 9   NO2_min      33179 non-null  float64
 10  NO2_max      33179 non-null  float64
 11  NO2_avg      33179 non-null  float64
 12  NH3_min      28381 non-null  float64
 13  NH3_max      28381 non-null  float64
 14  NH3_avg      28381 non-null  float64
 15  SO2_min      32221 non-null  float64
 16  SO2_max      32221 non-null  float64
 17  SO2_avg      32221 non-null  float64
 18  CO_min       33719 non-null  float64
 19  CO_max       33719 non-null  float64
 20  CO_avg       33719 non-null  float64
 21  OZONE_min    32108 non-null  float64
 22  OZONE_max    32108 non-null  float64
 23  OZONE_avg    32108 non-null  float64
dtypes: float64(21), object(3)
memory usage: 7.2+ MB

In [40]:
cities = sorted(list(set(df.City.to_list())))

In [41]:
cities

['Agra',
 'Ahmedabad',
 'Aizawl',
 'Ajmer',
 'Alwar',
 'Amaravati',
 'Ambala',
 'Amritsar',
 'Ankleshwar',
 'Asansol',
 'Aurangabad',
 'Bagalkot',
 'Baghpat',
 'Bahadurgarh',
 'Ballabgarh',
 'Bathinda',
 'Bengaluru',
 'Bhiwadi',
 'Bhiwani',
 'Bhopal',
 'Brajrajnagar',
 'Bulandshahr',
 'Chandigarh',
 'Chandrapur',
 'Charkhi Dadri',
 'Chennai',
 'Chikkaballapur',
 'Chikkamagaluru',
 'Coimbatore',
 'Damoh',
 'Delhi',
 'Dewas',
 'Dharuhera',
 'Eloor',
 'Ernakulam',
 'Faridabad',
 'Fatehabad',
 'Gandhinagar',
 'Gaya',
 'Ghaziabad',
 'Greater Noida',
 'Gurugram',
 'Guwahati',
 'Gwalior',
 'Hajipur',
 'Hapur',
 'Hisar',
 'Howrah',
 'Hubballi',
 'Hyderabad',
 'Indore',
 'Jabalpur',
 'Jaipur',
 'Jalandhar',
 'Jind',
 'Jodhpur',
 'Kaithal',
 'Kalaburgi',
 'Kalyan',
 'Kannur',
 'Kanpur',
 'Karnal',
 'Katni',
 'Khanna',
 'Kochi',
 'Kohima',
 'Kolkata',
 'Kollam',
 'Kota',
 'Kozhikode',
 'Kurukshetra',
 'Lucknow',
 'Ludhiana',
 'Maihar',
 'Mandi Gobindgarh',
 'Mandideep',
 'Mandikhera',
 'Manesar',
 'Meerut',
 'Moradabad',
 'Mumbai',
 'Muzaffarnagar',
 'Muzaffarpur',
 'Mysuru',
 'Nagpur',
 'Nandesari',
 'Narnaul',
 'Nashik',
 'Navi Mumbai',
 'Noida',
 'Pali',
 'Palwal',
 'Panchkula',
 'Panipat',
 'Paravattani',
 'Patiala',
 'Patna',
 'Pithampur',
 'Pune',
 'Rajamahendravaram',
 'Ramanagara',
 'Ratlam',
 'Rohtak',
 'Rupnagar',
 'Sagar',
 'Satna',
 'Shillong',
 'Siliguri',
 'Singrauli',
 'Sirsa',
 'Solapur',
 'Sonipat',
 'Talcher',
 'Thane',
 'Thiruvananthapuram',
 'Thrissur',
 'Tirupati',
 'Udaipur',
 'Ujjain',
 'Vapi',
 'Varanasi',
 'Vatva',
 'Vijayapura',
 'Visakhapatnam',
 'Yadgir',
 'Yamunanagar']

## These cities donot have enough data

In [42]:
cities_to_drop = ['Kaithal','Pali', 'Aizawl','Brajrajnagar','Ernakulam','Jind','Yadgir']

In [52]:
inds = df.loc[df.City == cities_to_drop[6]].index.to_list()
df = df.drop(index= inds)
df = df.reset_index()
df = df.drop('index',axis = 1)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35700 entries, 0 to 35699
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         35700 non-null  object
 1   Coordinates  35700 non-null  object
 2   Time         35700 non-null  object
 3   PM10_min     30252 non-null  float64
 4   PM10_max     30252 non-null  float64
 5   PM10_avg     30252 non-null  float64
 6   PM2.5_min    31558 non-null  float64
 7   PM2.5_max    31558 non-null  float64
 8   PM2.5_avg    31558 non-null  float64
 9   NO2_min      31780 non-null  float64
 10  NO2_max      31780 non-null  float64
 11  NO2_avg      31780 non-null  float64
 12  NH3_min      26905 non-null  float64
 13  NH3_max      26905 non-null  float64
 14  NH3_avg      26905 non-null  float64
 15  SO2_min      30820 non-null  float64
 16  SO2_max      30820 non-null  float64
 17  SO2_avg      30820 non-null  float64
 18  CO_min       32186 non-null  float64
 19  CO_max       32186 non-null  float64
 20  CO_avg       32186 non-null  float64
 21  OZONE_min    30798 non-null  float64
 22  OZONE_max    30798 non-null  float64
 23  OZONE_avg    30798 non-null  float64
dtypes: float64(21), object(3)
memory usage: 6.5+ MB

In [67]:
df.isna().sum(axis = 1).sort_values(ascending = False)

15712    12
11790    12
2890     12
27564    12
12387    12
         ..
20354     0
20355     0
20356     0
20357     0
0         0
Length: 32711, dtype: int64

In [69]:
l = df.loc[df.isna().sum(axis = 1) == 12].index.to_list()
df = df.drop(index= l)
df = df.reset_index()
df = df.drop('index',axis = 1)

In [70]:
df.shape

(32431, 24)

In [75]:
df = df.sort_values(by = 'Time')

In [77]:
df = df.reset_index()
df = df.drop('index',axis = 1)

In [81]:
df.describe()

,PM10_min,PM10_max,PM10_avg,PM2.5_min,PM2.5_max,PM2.5_avg,NO2_min,NO2_max,NO2_avg,NH3_min,...,NH3_avg,SO2_min,SO2_max,SO2_avg,CO_min,CO_max,CO_avg,OZONE_min,OZONE_max,OZONE_avg
count,30063.000000,30063.000000,30063.000000,31459.000000,31459.000000,31459.000000,31534.000000,31534.000000,31534.000000,26840.000000,...,26840.000000,30616.000000,30616.000000,30616.000000,31216.000000,31216.000000,31216.000000,29882.000000,29882.000000,29882.000000
mean,69.576179,177.156812,112.140211,50.518897,180.535084,108.071291,14.909970,53.060224,29.079527,3.794735,...,5.307435,7.372881,29.217722,14.285302,20.868080,66.554747,37.670676,12.059028,72.379444,36.998097
std,43.998838,115.260319,66.230306,41.276472,119.176358,80.235538,10.561928,45.237949,21.636455,3.569360,...,4.837219,7.009569,28.467580,11.628594,18.489986,33.262472,23.045280,15.060170,50.716234,33.676420
min,1.000000,12.000000,7.000000,1.000000,5.000000,3.000000,1.000000,2.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,32.000000,95.000000,60.000000,21.464286,76.000000,44.500000,8.000000,22.500000,15.000000,1.000000,...,2.000000,3.000000,10.000000,6.000000,11.000000,40.000000,23.000000,3.000000,35.839286,14.000000
50%,63.000000,144.000000,102.000000,40.500000,153.000000,82.000000,13.000000,36.000000,23.000000,3.000000,...,4.000000,5.666667,19.500000,11.000000,17.000000,61.000000,33.000000,8.000000,63.000000,28.000000
75%,105.000000,226.000000,148.333333,68.000000,289.000000,151.366667,20.000000,73.000000,36.500000,5.000000,...,7.000000,10.000000,37.000000,19.000000,26.600000,93.000000,46.000000,15.000000,96.000000,49.333333
max,223.000000,500.000000,363.000000,344.000000,500.000000,387.000000,86.000000,422.000000,196.000000,57.000000,...,76.000000,78.000000,140.000000,92.000000,200.000000,200.000000,200.000000,185.000000,276.000000,276.000000

In [82]:
df.to_csv('final.csv')